.accordion__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding-top 0.3s ease-out;
  padding-top: 0;
  padding-bottom: 0;
}

.accordion__item.active .accordion__body {
  max-height: 500px; /* Adjust as needed */
  transition: max-height 0.5s ease-in, padding-top 0.5s ease-in;
  padding-top: 16px;
}

.accordion__toggle {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.accordion__toggle::before,
.accordion__toggle::after {
  content: '';
  position: absolute;
  background-color: var(--text-primary);
  transition: transform 0.3s ease;
}

.accordion__toggle::before {
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.accordion__toggle::after {
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
}

.accordion__item.active .accordion__toggle::after {
  transform: translateY(-50%) rotate(180deg);
}
