.blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.blocks__block {
  width: 20em;
  height: 14em;
  margin: 0 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 32px;
}

.blocks__title {
  font-size: 25px;
  color: black;
  display: flex;
  flex-shrink: 0;
}

.blocks__text {
  font-size: 15px;
  font-family: Inter, sans-serif;
  color: black;
  display: flex;
  align-items: center;
  width: 60%;
}
