.block {
  width: 20em;
  height: 14em;
  margin: 0 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 32px;
}

.about--block {
  width: 14em;
  height: 14em;
  display: flex;
  margin: 0 10px;
  justify-content: center;
  flex-shrink: 0;
  flex-direction: column;
}

.blocks-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
