.btn {
  background-color: #0070a0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__header {
  height: 36px;
  width: 139px;
  margin-right: 160px;
}

.btn__hero {
  height: 43px;
  width: 174px;
}
