@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('../assets/fonts/inter-regular.woff2') format('woff2'),
    url('../assets/fonts/inter-regular.woff') format('woff');
}

.btn {
  font-family: Inter, sans-serif;
  background-color: #0070a0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--header {
  font-family: Inter, sans-serif;
  background-color: #0070a0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 139px;
}

.btn--blue {
  background-color: #0070a0;
  display: flex;
  justify-content: start;
  align-items: center;
  border: 0;
  padding: 20px;
}

.btn--hero {
  background-color: #0070a0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  width: 174px;
}
