@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('../assets/fonts/inter-regular.woff2') format('woff2'),
    url('../assets/fonts/inter-regular.woff') format('woff');
}

.header {
  display: flex;
  box-shadow: 0 6px 2px rgb(0 0 0 / 15%);
  align-items: center;
  width: 100%;
  padding: 1.5em;
}

.header__btn {
  font-family: Inter, sans-serif;
  background-color: #0070a0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 139px;
}

.header__paragraph {
  font-size: 15px;
  font-family: Inter, sans-serif;
  color: gray;
  margin: 0 24px;
  display: flex;
}

.header__link {
  color: #0070a0;
  margin: 0 24px;
  display: flex;
  align-items: center;
  font-family: Inter, sans-serif;
}

.header__right {
  justify-content: end;
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 100px;
}

.header__logo {
  display: flex;
  margin-left: 155px;
  width: 250px;
  height: auto;
}
