@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('../assets/fonts/inter-regular.woff2') format('woff2'),
    url('../assets/fonts/inter-regular.woff') format('woff');
}

.header {
  display: flex;
  box-shadow: 0 6px 2px rgb(0 0 0 / 15%);
  align-items: center;
  width: 100%;
  padding: 1.5em;
}

.header__right {
  justify-content: end;
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 100px;
}

.header__logo {
  display: flex;
  margin-left: 155px;
  width: 250px;
  height: auto;
}
