.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 155px;
  width: 80%;
}

.hero__arcticle {
  width: 50%;
}

.hero__description {
  width: 70%;
}

.hero-__interactive {
  display: flex;
  margin-top: 25px;
}

.company__block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.companys {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.blue {
  background-color: #0070a0;
  display: flex;
}

.blue__area {
  background-color: #0070a0;
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
}

.blue__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;
}

.blue__arcticle {
  width: 50%;
}

.blue__description {
  width: 70%;
}

.blue__svg {
  width: 50%;
  display: flex;
}
