.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 155px;
  width: 80%;
}

.hero__arcticle {
  width: 50%;
}

.hero__description {
  width: 70%;
  font-family: Inter, sans-serif;
  font-size: 20px;
  color: gray;
}

.hero__title {
  font-size: 58px;
  color: black;
}

.hero__btn {
  font-family: Inter, sans-serif;
  background-color: #0070a0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 139px;
}

.hero__interactive {
  display: flex;
  margin-top: 25px;
}
