.posts {
  padding: 46px 0 30px;
  background-color: #f7f9fa;
}

.posts__title {
  display: flex;
  font-size: 2.6rem;
  font-weight: 500;
  padding: 28px 155px;
  color: #232323;
}

.posts__area {
  display: flex;
  gap: 36px;
  justify-content: center;
  align-items: stretch;
}

.posts__block {
  background: #fff;
  border-radius: 8px;
  width: 340px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: box-shadow 0.17s;
}

.post__img {
  width: 100%;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post__content {
  padding: 22px 26px 18px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.post__category {
  display: inline-block;
  font-size: 0.95rem;
  color: #339fd7;
  background: #eaf5fb;
  border-radius: 5px;
  padding: 5px 12px 2px;
  margin-bottom: 16px;
  font-weight: 500;
}

.post__title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #222;
  margin-bottom: 14px;
}

.post__desc {
  font-size: 0.8rem;
  color: #4e4e4e;
  margin-bottom: 22px;
  line-height: 1.67;
}

.post__date {
  font-size: 2px;
}

.posts__all {
  position: absolute;
  right: 10vw;
  top: 52px;
  font-size: 1rem;
  color: #339fd7;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}
