.start {
  background: #eaf7fe;
  padding: 32px;
  max-width: 90%;
  margin: 40px auto;
  border-radius: 8px;
}

.start__title {
  color: black;
  font-size: 2rem;
  margin-bottom: 16px;
}

.start__description {
  margin-bottom: 24px;
  color: #333;
}

.start__button {
  font-family: Inter, sans-serif;
  background-color: #0070a0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 139px;
}

.start__features {
  display: flex;
  gap: 32px;
}

.start__feature {
  color: #666;
  font-size: 0.95rem;
}
