@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('../assets/fonts/inter-regular.woff2') format('woff2'),
    url('../assets/fonts/inter-regular.woff') format('woff');
}

.header__paragraph {
  font-size: 15px;
  font-family: Inter, sans-serif;
  color: gray;
  margin: 0 24px;
  display: flex;
}

.header__link {
  color: #0070a0;
  margin: 0 24px;
  display: flex;
  align-items: center;
  font-family: Inter, sans-serif;
}

.hero__title {
  font-size: 58px;
  color: black;
}

.company__title {
  font-size: 25px;
  color: black;
  display: flex;
  flex-shrink: 0;
}

.company__name {
  margin: 40px;
}

.block__text--about {
  font-size: 15px;
  color: black;
  display: flex;
  align-items: center;
  flex-shrink: 1;
}
