.header__paragraph {
  font-size: 15px;
  font-family: Inter, sans-serif;
  color: gray;
  margin: 0 24px;
  display: flex;
}

.b {
  color: black;
}

.w {
  color: white;
}

.header__link {
  color: #0070a0;
  margin: 0 24px;
  display: flex;
  align-items: center;
}

.hero__title {
  font-size: 58px;
}

.hero__description {
  font-family: Inter, sans-serif;
  font-size: 20px;
  color: gray;
}

.company__title {
  font-size: 25px;
  color: black;
  display: flex;
  flex-shrink: 0;
}

.company__name {
  margin: 40px;
}

.block__text {
  font-size: 15px;
  color: black;
  display: flex;
  align-items: center;
  width: 60%;
}

.block__text--about {
  font-size: 15px;
  color: black;
  display: flex;
  align-items: center;
  flex-shrink: 1;
}
