.paragraph--header {
  font-size: 15px;
  font-family: Inter, sans-serif;
  color: gray;
  margin: 0 24px;
  display: flex;
}

.b {
  color: black;
}

.w {
  color: white;
}

.link--header {
  color: #0070a0;
  margin: 0 24px;
  display: flex;
  align-items: center;
}

.title--hero {
  font-size: 58px;
}

.hero--description {
  font-family: Inter, sans-serif;
  font-size: 20px;
  color: gray;
}

.company--title {
  font-size: 25px;
  color: black;
  display: flex;
  flex-shrink: 0;
}

.company--name {
  margin: 40px;
}

.block--text {
  font-size: 15px;
  color: black;
  display: flex;
  align-items: center;
  width: 60%;
}

.block--text--about {
  font-size: 15px;
  color: black;
  display: flex;
  align-items: center;
  flex-shrink: 1;
}
