@import './styles/global/media.css';
@import './styles/colors/colors.css';
@import './styles/normalize.css';
@import './styles/global/utility.css';
@import './styles/components/container.css';
@import './styles/components/header.css';
@import './styles/components/buttons.css';
@import './styles/components/hero.css';
@import './styles/components/text.css';
@import './styles/components/blocks.css';
@import './styles/components/about.css';
@import './styles/components/posts.css';
@import './styles/components/start.css';
@import './styles/components/footer.css';
